body{
    background-color: gray;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.number {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
  }
  

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type='number'] {
   width: auto;
    margin: auto;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3E8E41;
}

.match {
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
}

.stats-container {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #ccc;
    border-radius: 5px;
    justify-content: space-between;
}

.stats-container>div {
  
    flex: 1 1; /*grow | shrink | basis */
    
}


.stats-container > div {

    border: solid black;
    padding: 1em;
}

.stats-container > div > div {
    font-weight: bold;

    margin-left: 10px;
}


#auto-gen-amount {
    padding: 10px;
    font-size: 18px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }