* {
    box-sizing: border-box;
  }

body{
    background-color: gray;
    margin: auto;
    max-width: 440px;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.number {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
  }
  

label {
    font-weight: bold;
    margin-bottom: 10px;
}


button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3E8E41;
}

.match {
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
}

.stats-container {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
}



.stats-container > div {
    flex-grow: 1;
    width: 30%;
    border: solid black;
}

.stats-container > div > div {
    font-weight: bold;
    margin-left: 10px;
}


#auto-gen-amount {
    padding: 10px;
    font-size: 18px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }

  #auto-generator{
    display: flex;
  }

  #generate-btn{
    margin: auto;
    margin-bottom: 0.5em;
    padding: auto;

  }

  table {
    border-collapse: collapse;
  }
  
  table td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }
  
  table th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    background-color: #ccc;
  }
  
  table td:nth-child(3):before {
    content: "\20AC";
    display: inline-block;
    margin-right: 5px;
  }

  table td:nth-child(3) {
    text-align: left;
  }


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #ff5d5d;
  }
  
  